

@media(min-width: 768px){
   
    .row{
        display: flex;
        flex-direction: row;
    }
    body{
        font-family: 'Poppins', sans-serif;
    }
    header{
        padding: 30px;
        text-align: center;
        background-color: darkturquoise
    }
    header h1{
        font-size: 50px;
        text-align: center;
    }
    nav ul li{
        display: inline-block;
        list-style-type: none;
    }
    nav ul li a{
        display: inline-block;
        color: azure;
        background-color: black;
        text-align: center;
        text-decoration: none;
        padding: 14px 16px;
    }
    .row ::after{
        content: "";
        display: table;
        clear: both;
    }
    .leftcolum{
        float: left;
        width: 60%;
    }
    .rightcolum{
        float: left;
        width: 40%;
        background-color: blanchedalmond;
        padding-left: 20px;
    }
    .colimg{
        width: 100%;
        padding: 20px;
    }
    .footer-container {
        opacity: 1.0;
        background: #352C29;
        padding: 50px 15% 0;
    }

    .col-md-4 {
        flex: 1; /* This ensures each column takes up 1/3 of the container */
    }

    .footer-nav-container {
        /* width: 100%;  <-- Remove this */
        margin: 0 auto;
        padding-bottom: 50px;
    }

    /* .footer-nav-container {
        width: 100%;
        margin: 0 auto;
        padding-bottom: 50px;
    } */

    .footer-nav-title {
        font-size: 14px;
        font-weight: 500;
        color: #f8fafa;
        margin: 0;
    }
    .footer-nav-link {
        width: fit-content;
        font-size: 12px;
        font-weight: 500;
        color: #FFFFFF;
        margin: 15px 0;
        text-decoration: none;
        display: flex;
        justify-content: left;
    }
    .footer-nav-contact-title {
        font-size: 12px;
        font-weight: 500;
        color: #FFFFFF;
        margin: 15px 0;
    }

    .footer-nav-contact-content {
        font-size: 11px;
        font-weight: 500;
        color: #FFFFFF;
        margin: 15px 0;
    }

    .social-media-icons {
        display: flex;
        justify-content: flex-start;
        margin-top: 15px;
    }

    .social-media-icon {
        width: 20px;
        height: 20px;
        border: none;
    }
    .social-media-icon:hover {
        filter: invert(42%) sepia(74%) saturate(342%) hue-rotate(146deg) brightness(103%) contrast(48%);
    }

    .social-media-link {
        margin: 0 20px 0 0;
        width: fit-content;
    }
    .footer-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between; 
    }
}
@media(max-width:767px){
    
    header{
        padding: 10px;
        text-align: center;
        background-color: darkturquoise
    }
    header h1{
        font-size: 50px;
        text-align: center;
    }
    nav ul li{
        display: inline-block;
        list-style-type: none;
    }
    nav ul li a{
        display: inline-block;
        color: azure;
        background-color: black;
        text-align: center;
        text-decoration: none;
        padding: 14px 16px;
    }
    .row{
        display: flex;
        flex-direction: column;
    }
    .leftcolum{
        /* float: left; */
        /* width: 100%; */
        padding: 20px;
    }
    .rightcolum{
        /* float: left; */
        /* width: 100%; */
        background-color: blanchedalmond;
        padding: 20px;
    }
    .footer-container {
        opacity: 1.0;
        background: #352C29;
        padding: 50px 15% 0;
    }

    .col-md-4 {
        flex: 1; /* This ensures each column takes up 1/3 of the container */
    }

    .footer-nav-container {
        /* width: 100%;  <-- Remove this */
        margin: 0 auto;
        padding-bottom: 50px;
    }

    .footer-nav-title {
        font-size: 14px;
        font-weight: 500;
        color: #f8fafa;
        margin: 0;
    }
    .footer-nav-link {
        width: fit-content;
        font-size: 12px;
        font-weight: 500;
        color: #FFFFFF;
        margin: 15px 0;
        text-decoration: none;
        display: flex;
        justify-content: left;
    }
    .footer-nav-contact-title {
        font-size: 12px;
        font-weight: 500;
        color: #FFFFFF;
        margin: 15px 0;
    }

    .footer-nav-contact-content {
        font-size: 11px;
        font-weight: 500;
        color: #FFFFFF;
        margin: 15px 0;
    }

    .social-media-icons {
        display: flex;
        justify-content: flex-start;
        margin-top: 15px;
    }

    .social-media-icon {
        width: 20px;
        height: 20px;
        border: none;
    }
    .social-media-icon:hover {
        filter: invert(42%) sepia(74%) saturate(342%) hue-rotate(146deg) brightness(103%) contrast(48%);
    }

    .social-media-link {
        margin: 0 20px 0 0;
        width: fit-content;
    }
    
    .footer-row {
        display: flex;
        flex-direction: column;
    }

}

