@media(min-width: 768px){
    .header-container {
        width: 100%;
        background: rgba(255, 255, 255, 0.8);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border: 0;
        position: fixed;
        height: 64px;
        z-index: 999;
        top: 0px;
        
    }
    
    .header-logo-container {
        width: 40px;
        height: 40px;
        margin-left: 20px;
        display: flex;
        align-items: center;
    }
    
    .header-nav-container {
       border-radius: 0px;
    }
    .header-nav-link {
        /* width: 82px !important; */
       
        font-family: 'Open Sans';
        font-style: normal;
        font-size: 16px;
        font-weight: 500;
      
        color: #333333;
        text-decoration: none;
        padding-bottom: 13px;
    }

    .header-nav-divider {
        font-size: 10px;
        color: #666666;
        margin: 0 10px;
    }
    
   
    .row{
        margin-top: 64px;
        display: flex;
        flex-direction: row;
    }
    .leftcolumn{
        float: left;
        width: 60vw;
    }
    .rightcolumn{
        float: left;
        width: 40vw;
        padding-left: 40px;
        padding-right: 40px;
    }
    
    
    body{
        font-family: 'Poppins', sans-serif;
    }
   
    .row ::after{
        content: "";
        display: table;
        clear: both;
    }
    
    .colimg{
        width: 100%;
        padding: 20px;
    }
    .footer-container {
        opacity: 1.0;
        background: #352C29;
        padding: 50px 15% 0;
    }

    .col-md-4 {
        flex: 1; /* This ensures each column takes up 1/3 of the container */
    }

    .footer-nav-container {
        /* width: 100%;  <-- Remove this */
        margin: 0 auto;
        padding-bottom: 50px;
    }


    .footer-nav-title {
        font-size: 14px;
        font-weight: 500;
        color: #f8fafa;
        margin: 0;
    }
    .footer-nav-link {
        width: fit-content;
        font-size: 12px;
        font-weight: 500;
        color: #FFFFFF;
        margin: 15px 0;
        text-decoration: none;
        display: flex;
        justify-content: left;
    }
    .footer-nav-contact-title {
        font-size: 12px;
        font-weight: 500;
        color: #FFFFFF;
        margin: 15px 0;
    }

    .footer-nav-contact-content {
        font-size: 11px;
        font-weight: 500;
        color: #FFFFFF;
        margin: 15px 0;
    }

    .social-media-icons {
        display: flex;
        justify-content: flex-start;
        margin-top: 15px;
    }

    .social-media-icon {
        width: 20px;
        height: 20px;
        border: none;
    }
    .social-media-icon:hover {
        filter: invert(42%) sepia(74%) saturate(342%) hue-rotate(146deg) brightness(103%) contrast(48%);
    }

    .social-media-link {
        margin: 0 20px 0 0;
        width: fit-content;
    }
    .footer-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between; 
    }
    .introduction-slide {
        display: flex;
        flex-direction: row;
        background: transparent;
        position: fixed;
        
    }

    .introduction-slide .introduction-catalog {
        flex: none;
        order: 1;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 24px 16px;
        gap: 24px;
    }  
    
    .introduction-slide .introduction-catalog .introduction-title {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 100%;
        display: flex;
        align-items: center;
        color: #000000;
    }
    .introduction-slide .introduction-catalog .introduction-section {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 100%;
        display: flex;
        align-items: center;
        color: #000000;
    }
    .introduction-slide .introduction-catalog .introduction-section::before {
        content: "";
        display: flex;
        width: 24px;
        height: 3px;
        margin-right: 5px;
        border-radius: 10px;
        background: linear-gradient(90deg, #FFA4A3 0%, #FAB25E 100%);
        transform: rotate(90deg);
        visibility: hidden;
    }

    /* // 点击后的效果 */
    .introduction-slide .introduction-catalog .introduction-section.active {
        font-weight: 800;
    }

    .introduction-slide .introduction-catalog .introduction-section.active::before {
        visibility: visible;
    }
    .introduction-slide .introduction-catalog .introduction-section:hover {
        font-weight: 800;
    }

    .introduction-slide .introduction-catalog .introduction-section:hover::before {
        visibility: visible;
    }
        
}
@media(max-width:767px){
    .header-container {
        width: 100%;
        height: 44px;
        background: rgba(255, 255, 255, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        border: 0;
        position: relative;
        z-index: 999;
        border-bottom: 1px solid black;
    }
    .header-logo-container {
        order: 0;
        width: 37.83px;
        /* height: 40px; */
        left: 40px;
        top: calc(50% - 40px / 2);
        margin-left: 20px;
    }
    .header-nav-container {
       display: none;
    }

    .header-nav-link {
       display: none;
    }
    .header-nav-divider {
       display: none;
    }
    .row{
        display: flex;
        flex-direction: column;
    }
    .leftcolum{
        /* float: left; */
        /* width: 100%; */
        padding: 20px;
    }
    .rightcolum{
       display: none;
    }
    .footer-container {
        opacity: 1.0;
        background: #352C29;
        padding: 50px 15% 0;
    }

    .col-md-4 {
        flex: 1; /* This ensures each column takes up 1/3 of the container */
    }

    .footer-nav-container {
        /* width: 100%;  <-- Remove this */
        margin: 0 auto;
        padding-bottom: 50px;
    }

    .footer-nav-title {
        font-size: 14px;
        font-weight: 500;
        color: #f8fafa;
        margin: 0;
    }
    .footer-nav-link {
        width: fit-content;
        font-size: 12px;
        font-weight: 500;
        color: #FFFFFF;
        margin: 15px 0;
        text-decoration: none;
        display: flex;
        justify-content: left;
    }
    .footer-nav-contact-title {
        font-size: 12px;
        font-weight: 500;
        color: #FFFFFF;
        margin: 15px 0;
    }

    .footer-nav-contact-content {
        font-size: 11px;
        font-weight: 500;
        color: #FFFFFF;
        margin: 15px 0;
    }

    .social-media-icons {
        display: flex;
        justify-content: flex-start;
        margin-top: 15px;
    }

    .social-media-icon {
        width: 20px;
        height: 20px;
        border: none;
    }
    .social-media-icon:hover {
        filter: invert(42%) sepia(74%) saturate(342%) hue-rotate(146deg) brightness(103%) contrast(48%);
    }

    .social-media-link {
        margin: 0 20px 0 0;
        width: fit-content;
    }
    
    .footer-row {
        display: flex;
        flex-direction: column;
    }

}

